################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ckau/bin/Release/netcoreapp3.1
/ckau/obj
